<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= locals.title %>
    </title>
</head>
<body>
    <h1>Rendered from EJS View!</h1>

    <div>
        <ul>
            <% for(let i of contact_list) { %>
                <li>
                    <p><%= i.name %></p>
                    <p><%= i.phone %></p>
                </li>
            <% } %>
        </ul>
    </div>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <input type="number" name="phone" placeholder="Your Number">

        <button type="submit">Add Contact</button>
    </form>
</body>
</html>